.dark {
    background-color: black;
    color: white;
}

.light {
    background-color: white;
    color: black;
}

.menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.item {
    display: flex;
    flex-direction: column;
}

.image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}